a:hover{
  text-decoration: none;
}

html{
  box-sizing: border-box;
  font-size: 16px;
}
.header{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 105vh;
  padding-top: 20px;
}

.nav{
  display: flex;
  position: absolute;
  justify-content: center;
  padding: 15px 15px;
  transition: all 0.3s;
  background-color: beige;
  z-index: 9;
  top: 0px;
  width: 100%;
}

.nav ul{
  display: flex;
  align-items: centre;
  flex-wrap: wrap;
}

.nav ul li{
  display: flex;
}

.nav ul li a{
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: #333;
  padding: 0.25em 0;
  margin: 0 1.80rem;
  text-transform: uppercase;
}

.nav ul li.logo a{
  margin: 0 4rem;
  z-index: 5;
  position: relative;
}

.nav-icon{
  position: absolute;
  top: 27px;
  right: 30px;
  padding: 5px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}

.full-nav{
  background: #f1c30f;
  color: #18191d;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 3.75em;
  z-index: 99;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: all .4s ease-in-out;
}

.nav.sticky{
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.35);
  animation-name: animationFade;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.nav.sticky a{
  color: #18191d;
}

.nav.sticky ul li.logo .white{
  display: none;
}

video#herovideo{
  width: 100%;
}

.bx-wrapper .social-icons a{
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  padding-top: 5px;
  transition: all ease 1s;
  background: #000;
  border-radius: 0px;
}

.bx-wrapper .social-icons a i{
  position: absolute;
  bottom: 7px;
}

.vidContent{
  position: absolute;
  top: 290px;
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.vidContent h1{
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.vidContent p{
  font-family: 'Roboto', sans-serif;
}

#vidBtn{
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 40px;
  border: none;
  background: white;
  color: #333;
  cursor: pointer;
  margin-top: 18px;
  border-radius: 50px;
  animation: shadow-pulse 2s infinite;
  text-transform: uppercase;
}

@keyframes shadow-pulse {
  0%{
    box-shadow: 0 0 0 0px rgba(0,0,0,0.35);
  }
  100%{
    box-shadow: 0 0 0 20px rgba(0,0,0,0);
  }
  
}

#vidBtn:hover{
    background: white;
    color: black;
    text-decoration: none;
}

.social-icons a{
  color: #333 !important;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
  background: white !important;
}

ul.social-icons.list-inline{
  text-align: center;
  margin-top: 22px;
}

.list-inline>li{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  z-index: 9;
}
